#project-page-header {
  border-bottom: 4px solid var(--gunmetal);
  height: 80px;
  padding-right: 10%;
  padding-left: 10%;
}

.project-page-container {
  padding-right: 10%;
  padding-left: 10%;
}

.back-button {
  display:inline-block;
  padding: 27px 0;
}

.back-button:hover {
  color: lightslategray;
}


.project-photos {
  text-align: center;
}

.project-description {
  text-align: left;
}

.project-page-image { 
  width: 100%;
}

.project-description h3 {
  border-bottom: 1px white solid;
  padding: 10px;
  font-family: "Source Code Pro";
}

.project-description h1 {
  border-bottom: 1px white solid;
  padding: 10px;
  text-align: left;
}

.project-description p { 
  text-align: left;
}

.link { 
  color:var(--steelblue);
}

.link:hover { 
  color: grey;
}

.placeholder {
  height: auto; 
  width: 100%;
  background-color: var(--gunmetal);
  text-align: center;
  margin: 20% auto;
  font-family: "Source Code Pro";
  font-size: 40px;
  color: white;
}
