#contact-window { 
  height: 100vh;
  width: 100%;
  text-align: center;
  /* border: 2px solid red; */
}

.contact-container {
  margin-top: 10%;
  margin-bottom: 50px;
}
#contact-icons {
  width: 40%;
  margin : 20px auto;
}

#contact-title {
  color:white;
}

.email-icon, .github-icon, .linkedin-icon {
  font-size: 48px;
  color: white;
  text-decoration: none;
}

.email-icon:hover, .github-icon:hover, .linkedin-icon:hover {
  font-size: 48px;
  color: peachpuff;
}