#stack-window {
  text-align: center;
  padding-top: 100px;
  height: auto;
  background-color: black;
  border-top: 10px double var(--gunmetal);

}

.stack {
  width: 80%;
  margin: 0 auto;
}

.stack-icon {

}

.stack-container {
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  color: white;
  font-family: "Source Code Pro";
  border: 10px double var(--skypink);
  padding: 5rem;
  border-radius: 15px;
}

#processing-icon {
  max-width: 17.5%;
}

#javascript-icon {
  max-width: 15%;
}

#ruby-icon {
  max-width: 15%
}

.stack-container h3 {
  padding-bottom: 30px;
  border-bottom: 3px double white;
  font-size: 35px;
}

#small-stack-title {
  display:none;
}

@media (max-width: 1024px) {
  .stack-container {
    width:80%;
  }
  .stack-title {
    font-size:24px;
  }
}

@media (max-width: 768px) {
  .stack {
    width:100%;
  }
  .stack-title {
    font-size:20px;
  }

  #processing-icon, #p5-icon, #three-icon, #ruby-icon {
    max-width: 20%;
  }

  #javascript-icon{
    max-width: 23%;
  }
}

@media (max-width: 375px) {
  .stack-container {
    padding: 2rem;
  }

  .stack-container h3 {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .stack-title {
    display: none;
  }

  #small-stack-title {
    display: block;
    font-size: 16px;
  }

  #processing-icon, #p5-icon, #three-icon, #ruby-icon {
    max-width: 33%;
  }

  #javascript-icon{
    max-width: 30%;
  }
  
}






