#stack-window {
  text-align: center;
  padding-top: 100px;
  height: auto;
  background-color: black;
  border-top: 10px double var(--gunmetal);

}

.stack {
  width: 80%;
  margin: 0 auto;
}

.stack-icon {

}

.stack-container {
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  color: white;
  font-family: "Source Code Pro";
  border: 10px double var(--skypink);
  padding: 5rem;
  border-radius: 15px;
}

.stack-container h3 {
  padding-bottom: 30px;
  border-bottom: 3px double white;
  font-size: 35px;
}


